{% extends 'main/1cols.html.twig' %}

{% block content %}
    <div>
        <h1>Homepage</h1>
        <a href="{{ path('app_conversation_new') }}" class="btn btn-primary">
            Create conversation
        </a>
    </div>
{% endblock %}
