{% extends 'main/1cols.html.twig' %}

{% block content %}
    <div>
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            <button type="submit" class="btn btn-primary"> Submit </button>
        {{ form_end(form) }}

    </div>
{% endblock %}
